.header {
  position: fixed;
  width: 100%;
  // background-color: rgba(70, 52, 78, 0.7);
  z-index: 3;

  &__inner {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;

    & a {
      font-size: 20px;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.2s linear;

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__user {
    margin-left: 20px;
    padding-left: 20px;
    height: 40px;
    border-left: 1px solid var(--color-coffee);
    display: flex;
    align-items: center;
  }

  &__login {
    border: none;
    background: transparent;
    color: var(--color-yellow);
    cursor: pointer;
    font-size: 18px;
    transform: translate(2px, 3px);
    transition: transform 0.2s linear;

    &:hover {
      transform: translate(0, 0);
    }

    &:focus {
      outline: none;
    }
  }
}

.logo {
  height: 40px;
  color: var(--color-yellow);

  & img {
    height: 100%;
  }
}
