.message {
  width: 100%;
  min-width: 300px;

  &__header {
    width: 100%;
    border-bottom: 1px solid var(--color-yellow);

    & h4 {
      margin-bottom: 10px;
    }
  }

  &__body {
    color: var(--color-white);
    & p {
      padding: 20px 10px;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid var(--color-yellow);
    padding-top: 20px;
    gap: 10px;

    & button {
      --color-text: var(--color-white);
      padding: 10px 20px;
      border: 1px solid var(--color-text);
      border-radius: 4px;
      text-decoration: none;
      color: var(--color-text);
      background: transparent;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        background: var(--color-text);
        color: var(--color-purple);
      }

      &:first-of-type {
        --color-text: var(--color-yellow);
      }
    }
  }
}
